*{
    motion: 0;
    padding: 0;
}
@import "./app/styles/variable.scss";
.site-wrapper{
    width: 100%;
    height: 800px;
    margin: 0 auto 0 auto;
}
.container_allheader{
    display: flex;
    flex-direction: column;
}
.top-nav{
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    background: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
    color: #999;
    font-size: 18px;
    z-index: 99;
}
.nav-container{
    @include position;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.left-phone{
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    & a .number-phone {
    text-decoration: none;
    color: $col;
    font-weight: 500;
    padding: 0;
}
}
.right-block{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    padding: 0;
}
.dropdown{
    position: relative;
}
.btnlang{
    box-sizing: border-box;
    color: #999;
    margin-left: 0px;
    height: 50px;
    padding: 16px 16px;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    transition: all 0.5s ease;
    text-transform: uppercase;
    top: 8px;
    text-decoration: none;
}
.btnlang:hover, .btnlang.active {
    box-sizing: border-box;
    height: 100%;
    color: #fff;
    background: $color-red;
    text-decoration: none;
}
header {
    display: block;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 85px;
    padding-top: 0px;
}
.header-container{
    @include position;
    height: 100px;
    top: 48px;
    width: 57%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.logo{
    float: left;
    width: 25%;
    height: 100%;
    & a{
    text-decoration: none;
    color: $color-red;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    transition: all 0.7s ease;
    &:hover{
    color: rgb(89, 0, 255);
    transition: all 0.7s ease;
    text-decoration: none;
}
}
}
.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
}
.b-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    height: 30px;
    & li {
    font-weight: 500;
    color: $col;
    & a{
      text-decoration: none;  
    }
}
}
.dropdown{
    cursor: pointer;
    z-index: 9999;
    & a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: $col;
    font-weight: 500;
    background-color: white;
    padding: 2px;
    &:hover{
    color: $color-red;
    }
}
}
   .after::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; 
}
.dropdown ul{
    list-style: none;
    padding: 0;  
}
.dropdown-ul {
    box-sizing: border-box;
    width: 120px;
    display: none;
}
.dropdown:hover{
    .dropdown-ul{
    display: block;
    margin-top: 10px;
    padding-left: 5px;
    height: 100px;
    background: #fff;
    }
}
.dropdown-ul li{
    margin-top: 10px;
    list-style: none;
}
.dropdown-block{
    margin: 0;
    padding: 0;
    width: 60px;
    transition: all 1s ease;
    & li{
    list-style: none;
    color: $col;
}
}
.connect{
    width: 120px;
}
li a{
    text-decoration: none;
    color: $col;
    &:hover{
    color: $color-red;
    transition: all 0.7s ease;
}
}


// ------------------------------карусель----------------------------------
.carousel-inner{
    height: 600px;
    width: 300px;
}
.pay-at_home{
    margin-top: 40px;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: black;
    z-index: 100;
    font-weight: 700;
    color: white;
    transition-duration: 5s;
    & p{
    font-weight: normal;
    margin-top: 40px;
    }
}
.link-social{
    top: 150px;
    left: -70px;
    position: absolute;
    width: 70px;
    height: 400px;
    z-index: 2;
}
.link-fb, .link-insta, .link-telegram, .link-callback, .link-off{
    @include position;
    align-items: center;
    width: 70px;
    height: 70px;
    border-bottom: 2px solid $color-red;
    background: rgb(84, 86, 231);
    transition: all 0.5s ease;
    &:hover{
    width: 100px;
    background: rgb(231, 84, 84);
    }
}
.link-callback{
    margin-top: 15px;
}
.link-off{
    position: absolute;
    margin-top: 30px;
    background: rgb(231, 84, 84);
    z-index: 2;
    &:hover{
    background: rgb(84, 86, 231);
    }
}
.off-arrow{
    display: none;
}
.on-arrow{
    display: block;
}
// -----------------------------------------карусель------------------------
.section-foryou{
    box-sizing: border-box;
    padding-bottom: 100px;
    height: auto;
}
.row{
    @include position;
    width: 100%;

}
.title-foryou{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-red;
    margin-top: 20px;
}
.md-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    margin-right: 10px;
    box-shadow: -5px 5px 10px 0px rgb(100, 99, 99);
}
.img-pixelnet{
    width: 80%;
    height: 40%;
}
.text-head{
    text-align: center;
    color: $color-red;
    font-size: 18px;
}

.btn-foryou{
    position: absolute;
    top: 90%;
    border: none;
    transition: ease 0.5s all;
    border: 1px solid $color-red;
    border-radius: 5px;
    padding: 0 4px;
    &:hover{
    background: $color-red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
}
.section-why_we{
    @include position;
    box-sizing: border-box;
    height: auto;
}
.bgd-why_we{
    width: 100%;
    height: 500px;
    z-index: -500;
}
.container-why_we{
    @include position;
    position: absolute;
    height: 500px;
    width: 70%;
    z-index: 500;
    background: black;
    opacity: 0.8;
}
.blocks{
    width: 50%;
    padding: 30px;
    color: white;
}
.blocks-list{
    list-style: none;
    line-height: 2.5;
    & li::before{
    content: "";
    width: 8px;
    height: 8px;
    background-color: $color-red;
    float: left;
    margin: 20px 0px 0px -15px;
    border-radius: 50%;
    border: 5px solid rgb(255, 153, 0);

    }
}
.left-part{
    text-align: right;
    & h1{
        font-weight: 700;
        font-size: 55px;
    }
}

.section-we_pixel{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-we_pixel{
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 70%;
    padding: 20px;
    & h2{
        text-align: center;
        color: $color-red;
    }
}
.img-and_text{
    display: flex;
    margin-top: 10px;
}
.we-pixel{
    width: 100%;
}
.img-team{
    margin-right: 40px;
}
.title{
display: inline;
width: 100%;
top: 58%;
margin-top: 20px;
color: $color-red;
font-weight: bold;
}
.we-pixel_content{
    width: 100%;
}
.we-pixel_block__links p{
    text-align: center
}
.block_links{
    @include position;
    height: 65px; 
    margin-top: 10px;
}
.wepixel{
    align-items: center;
    width: 90px;
    height: 50px;
    margin-right: 4px;
    background:rgb(231, 84, 84);
    border: none;
    transition: all 0.5s ease;
    &:hover{
    height: 60px;
    width: 90px;
    background: rgb(84, 86, 231);
    } 

}
footer{
    width: 100%;
}
.footer-section{
@include position;
width: 100%;
height: 400px;
margin-top: 20px;
background: rgba(0, 0, 0, 1);
}
.footer-block{
@include position;
width: 70%;
height: auto;
}
.footer-block_item{
color: white;
padding-top: 50px;
padding-left: 50px;
width: 30%;
& h4{
font-weight: 700;
margin-bottom: 20px;
}
& ul li{
list-style: none;
line-height: 2;
& a{
    text-decoration: none;
}
}
}