*{
    motion: 0;
    padding: 0;
}
$col: #727272;

.site-wrapper{
    // display: flex;
    width: 100%;
    height: 800px;
    margin: 0 auto 0 auto;
    // border: 3px solid rgb(89, 0, 255);
}
.container_allheader{
    display: flex;
    flex-direction: column;
    // border: 3px solid rgb(89, 0, 255);

}
.top-nav{
    display: block;
    float: left;
    width: 100%;
    height: 50px;
    background: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
    color: #999;
    font-size: 18px;
    z-index: 99;
}
.nav-container{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // border: 2px solid black
}
.left-phone{
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    // border: 2px solid red;
    & a{
    text-decoration: none;
    color: $col;
    font-weight: 500;
    padding: 0;
}
}
.right-block{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    // border: 2px solid red;
    padding: 0;

}
.dropdown{
    position: relative;
}
.btnlang{
    box-sizing: border-box;
    color: #999;
    margin-left: 0px;
    height: 50px;
    padding: 16px 16px;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
    transition: all 0.5s ease;
    text-transform: uppercase;
    top: 8px;
    text-decoration: none;
}
.btnlang:hover, .btnlang.active {
    box-sizing: border-box;
    height: 100%;
    color: #fff;
    background: #e22e25;
    text-decoration: none;
}

header {
    display: block;
    // position: fixed;
    // z-index: 1000!important;
    top: 48px;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 85px;
    padding-top: 0px;
    // border: 3px solid green;
}
.header-container{
    display: flex;
    justify-content: center;
    height: 100px;
    top: 48px;
    // border: 2px solid red;
    width: 57%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logo{
    float: left;
    width: 25%;
    height: 100%;
    // border: 2px solid blue;
    & a{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    transition: all 0.7s ease;
    &:hover{
        color: rgb(89, 0, 255);
        transition: all 0.7s ease;
    }
    }
}
.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid blue;
    width: 75%;
}
.b-nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 80%;
    height: 30px;
    // border: 2px solid blue;
    & li {
        font-weight: 500;
        color: $col;
    }
}
.dropdown{
    cursor: pointer;
    // border: 2px solid yellow;
    z-index: 9999;
    & a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: $col;
    font-weight: 500;
    // border: 1px solid red;
    background-color: white;
    padding: 2px;
    &:hover{
        color: red;
    }
}
}
   .after::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; 
}

.dropdown ul{
    list-style: none;
    padding: 0;
    
}
.dropdown-ul {
    box-sizing: border-box;
    width: 120px;
    display: none;
}
.dropdown:hover{
    .dropdown-ul{
    display: block;
    margin-top: 10px;
    // border: 2px solid red;
    background: #fff;
    }
}
.dropdown-ul li{
    margin-top: 10px;
    list-style: none;
}
.dropdown-block{
    margin: 0;
    padding: 0;
    width: 60px;
    transition: all 1s ease;
    & li{
        list-style: none;
        color: $col;
    }
}
.connect{
    width: 120px;
}
li a{
    text-decoration: none;
    color: $col;
    &:hover{
        color: red;
        transition: all 0.7s ease;
    }
}


// ----------------------------------------------------------------
.carousel-inner{
    height: 600px;
    width: 300px;
}
// .block-up{
//     display: flex;
//     justify-content: center;
//     height: 600px;
//     width: 100%;
//     position: absolute;
//     border: 2px solid red;
//     z-index: 100;
//     // background: white;
//     opacity: 0.4;
// }
.pay-at_home{
    margin-top: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    // background-color: white;
    text-transform: uppercase;
    color: black;
    z-index: 100;
    font-weight: 700;
    color: white;
    // border: 2px solid red;
}